/* GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    background-image: linear-gradient(#2fd8bc, #3a87fa);
    align-items: center;
    justify-content: center;
}

/* CARD */
.card{
    position: relative;
    margin-top: 100px;
    margin-bottom: 20px;
    padding: 20px;
    width: 400px;
    height: 100%;
    background: #fff;
    border-radius: 0 40px 0 40px;
    -webkit-box-shadow: 0px -1px 38px 19px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px -1px 38px 19px rgba(0,0,0,0.16);
    box-shadow: 0px -1px 38px 19px rgba(0,0,0,0.16);
}
.card .content{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card .content .image{
    height: 150px;
    width: 150px;
    margin-bottom: -100px;
}
.card .content .image img{
    height: 100%;
    margin-top: -90px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    padding: 4px;
    background: #fff;
    box-shadow: 0 15px 50px rgba(0,0,0,0.15);
}

/* DETAILS */
.details h2{
    color: #0e9692;
    font-size: 28px;
    margin-top: 10px;
}
.details p{
    color: #676767;
    font-weight: 600;
    margin-bottom: 15px;
    font-size: 17px;
}

/* LINKS */
.links{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}
.links a{
    font-weight: 600;
    background: #4994ea;
    padding: 10px 0;
    text-decoration: none;
    color: #fff;
    border-radius: 3px;
    box-shadow: 8px 8px 0px 0px #676767;
    transition: all .5s ease-in-out;
}
.links a:hover{
    background:#676767;
    box-shadow: 8px 8px 0px 0px #4994ea;
}

/* MEDIA */
@media (max-width: 520px){
    .card .content .image{
        width: 130px;
        height: 130px;
    }
    .card .content .image img{
        margin-top: -100px;
    }
    .card{
        width: 90%;
        padding: 30px;
    }
    .links{
        gap: 12px;
    }
    .links a{
        box-shadow: 5px 5px 0px 0px rgb(69, 92, 119);
        padding: 10px 0;
    }
}